#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E              &kp R            &kp T                    &kp Y                 &kp U        &kp I         &kp O    &kp P       &kp BACKSPACE
&kp TAB     &kp A  &kp S  &kp D              &kp F            &kp G                    &kp H                 &lt 1 J      &kp K         &kp L    &kp ENTER   &mt RCTRL SQT
&lt 3 SEMI  &kp Z  &kp X  &kp C              &kp V            &kp B                    &kp N                 &kp M        &kp COMMA     &kp DOT  &kp LSHIFT  &lt 3 F6
                          &kp RIGHT_CONTROL  &lt 1 BACKSPACE  &mt LEFT_COMMAND ESCAPE  &mt LEFT_COMMAND TAB  &lt 2 SPACE  &kp LEFT_ALT
            >;
        };

        raise_layer {
            bindings = <
&kp A            &kp LS(PERIOD)  &kp LS(RIGHT_BRACKET)  &kp RIGHT_BRACKET     &kp LS(NUMBER_0)  &kp LS(N4)        &kp LS(BACKSLASH)  &kp LS(N1)        &kp LS(EQUAL)  &kp LS(NUMBER_7)  &kp LS(NUMBER_2)  &kp BACKSPACE
&mt LCTRL EQUAL  &kp LS(COMMA)   &kp LS(LEFT_BRACKET)   &kp LEFT_BRACKET      &kp LS(NUMBER_9)  &kp LS(SLASH)     &kp LS(NUMBER_8)   &kp SEMICOLON     &kp SLASH      &kp MINUS         &kp UNDER         &mt RCTRL K_APP
&kp LALT         &kp LS(GRAVE)   &kp GRAVE              &kp LS(SINGLE_QUOTE)  &kp SINGLE_QUOTE  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)   &kp LS(SEMI)      &kp BACKSLASH  &kp EQUAL         &kp LS(NUMBER_3)  &kp RALT
                                                        &trans                &trans            &trans            &kp LEFT_COMMAND   &kp LEFT_CONTROL  &kp LEFT_ALT
            >;
        };

        lower_layer {
            bindings = <
&kp ESCAPE  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans          &trans          &trans        &trans           &trans  &trans
&trans      &kp NUMBER_0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans      &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans        &trans          &trans          &trans        &trans           &trans  &trans
                                        &kp C_VOL_DN  &trans        &kp C_VOL_UP  &trans          &trans          &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
